<div class="card card-body">
    <div class="about">
        <h4 class="display-4">
            This project was created using:
        </h4>
        <ul class="list-group list-group-flush">
            <li class="list-group-item lead">Html5</li>
            <li class="list-group-item lead">CSS3</li>
            <li class="list-group-item lead">Bootstrap4</li>
            <li class="list-group-item lead">Handlebars</li>
            <li class="list-group-item lead">Node.js</li>
            <li class="list-group-item lead">Express</li>
            <li class="list-group-item lead">MongoDB</li>
            <li class="list-group-item lead">Mongoose</li>
            <li class="list-group-item lead">Local Auth Strategy</li>
            <li class="list-group-item lead">DataTables</li>
        </ul>
        <p ><a href="https://www.jkirsch.tech" class="display-4">James Kirsch</a></p>
    </div>

</div>