<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Student Grading Portal</p>
    <a href="/classes" class="btn btn-dark btn-lg">Manage Students</a>
</div>